@import "../styles/variables";
@import "../styles/global.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-bg: #{$navbar-dev-bg};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Production mode override (devMode=off) */
body.dev-mode-off {
  --navbar-bg: #{$navbar-prod-bg} !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
