@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "variables";

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  @include utopia.generateTypeScale(
    (
      "minWidth": 320,
      "maxWidth": 1240,
      "minFontSize": 18,
      "maxFontSize": 20,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.25,
      "positiveSteps": 5,
      "negativeSteps": 2,
      "prefix": "step-",
    )
  );
}

h1 {
  color: variables.$header-color;
  font-family: variables.$font-heading, sans-serif;
  font-size: var(--step-5);
  margin: var(--space-s) 0;
}

h2 {
  color: variables.$header-color;
  font-family: variables.$font-heading, sans-serif;
  font-size: var(--step-4);
  margin: var(--space-s) 0;
}

h3 {
  color: variables.$header-color;
  font-family: variables.$font-heading, sans-serif;
  font-size: var(--step-3);
  margin: var(--space-s) 0;
}

h4 {
  color: variables.$header-color;
  font-family: variables.$font-heading, sans-serif;
  font-size: var(--step-2);
  margin: var(--space-s) 0;
}

h5 {
  color: variables.$primary_color;
  font-family: variables.$font-heading, sans-serif;
  font-size: var(--step-1);
  margin: var(--space-s) 0;
}

p {
  color: variables.$primary_color;
  font-family: variables.$font-body, sans-serif;
  font-size: var(--step-0);
  line-height: var(--step-1);
  margin-bottom: var(--space-2xl);
}
