/* Background */
$color-bg-0: #cd9b38;
$color-bg-1: #fce9cb;
$color-bg-2: #cdc9b8;
$header-footer: #482218;

/* Fonts */
$font-body: var(--font-roboto);
$font-heading: var(--font-roboto-condensed);

/* Text */
$text-light-color: #f0f0f0;
$text-dark-color: #1d1d1d;

/* Links */
$link-color: #fb2aff;
$link-color-hover: #751877;

$link-color-dark: #505050;
$link-color-dark-hover: #313031;

/* Visuals */
$primary_color: #333333;
$secondary_color: #727272;
$header-color: #652d68;
$light: #f0f0f0;

$color-highlight-background: #c06ec2;
$color-highlight-contrast: #fffae5;

/*Forms*/
$border: #2a2a2a;
$border-radius: 8px;
$success: #53b700;
$error: #b70000;
$stale: #8a8a8a;

/* Tables */
$table-background-color: #1d1d1d;
$table-border-color: #d3dadf;
$table-header-background: #f5f7f9;
$table-header-color: #111921;

/* Buttons */
$btn-color: #f4fafa;
$btn-regular: #fb2aff;
$btn-regular-hover: #ca5623;
$btn-secondary: #ded6c5;
$btn-secondary-border: #cac4b5;
$btn-secondary-text: #4f4f4f;
$btn-secondary-hover: #757476;
$btn-warning: #c13f3f;
$btn-positive: #6d9e44;

/* Shadows */
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

/* Header */
$header-background: #1e1e1e;
$header-link-color: #fefefe;
$header-link-color-hover: #751877;
