@use "variables";
@use "spacing";
@use "typography";
@use "node_modules/utopia-core-scss/src/utopia" as utopia;
@use "mixins";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: variables.$font-body, sans-serif;
  color: variables.$primary_color;
}

a:link,
a:visited {
  color: variables.$link-color;
  text-decoration: none;
}

a:hover {
  color: variables.$link-color-hover;
  text-decoration: underline;
}

.builder-block {
  margin: 0;
}
